<form action="/user/create" method="post" id="sign-up-form" class="form-signin">
    <h2 class="form-signin-heading">Create an account</h2>

    <% if(flash && flash.err) { %>
        <ul class="alert alert-danger">
            <% Object.keys(flash.err).forEach(function(error) { %>
                <li><%- JSON.stringify(flash.err[error]) %></li>
            <% }); %>
        </ul>
    <% } %>

    <input type="text" class="form-control" placeholder="Email" name="email"/>
    <input type="password" class="form-control" placeholder="Password" name="password"/>
    <input type="text" class="form-control" placeholder="Key ID" name="keyid"/>
    <input type="text" class="form-control" placeholder="vCode" name="vcode"/>

    <input type="submit" class="btn btn-lg btn-primary btn-block" value="Create Account"/>
    <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
</form>